{
	"trailingComma": "none",
	"useTabs": true,
	"bracketSameLine": true,
	"bracketSpacing": true,
	"tabWidth": 2,
	"singleQuote": true,
	"overrides": [
		{
			"files": ".prettierrc",
			"options": { "parser": "json", "printWidth": 80 }
		},
		{
			"files": "**/*.js",
			"options": { "parser": "babel", "useTabs": false, "printWidth": 80 }
		},
		{
			"files": "doc*/**/*.html",
			"options": {
				"parser": "html",
				"useTabs": true,
				"tabWidth": 2,
				"printWidth": 150,
				"htmlWhitespaceSensitivity": "ignore",
				"singleQuote": false
			}
		}
	],
	"$schema": "https://json.schemastore.org/prettierrc"
}
