{
	"apexInsertFinalNewline": false,
	"bracketSameLine": true,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"experimentalTernaries": true,
	"printWidth": 180,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true,
	"overrides": [
		{
			"files": "*.{cls,trigger}",
			"options": {
				"parser": "apex",
				"tabWidth": 2,
				"useTabs": true
			}
		},
		{
			"files": "*.trigger",
			"options": {
				"printWidth": 200
			}
		},
		{
			"files": "*.{apex,soql}",
			"options": {
				"parser": "apex-anonymous"
			}
		},
		{
			"files": ".prettierrc",
			"options": { "parser": "json", "printWidth": 80 }
		},
		{
			"files": "**/*.js",
			"options": { "parser": "babel", "useTabs": false, "printWidth": 80 }
		},
		{
			"files": "doc*/**/*.html",
			"options": {
				"parser": "html",
				"useTabs": true,
				"tabWidth": 2,
				"printWidth": 150,
				"htmlWhitespaceSensitivity": "ignore",
				"singleQuote": false
			}
		}
	],
	"plugins": ["prettier-plugin-apex"],
	"$schema": "https://json.schemastore.org/prettierrc"
}
