@import url('https://fonts.googleapis.com/css?family=Barlow:400,400i|Nanum+Gothic&display=swap');

:root {
	--grey-blue-tx: #51638a;
	--grey-blue-bg: #547499;
	--light-grey: #f7f7f7;
	--dark-grey: #c6c6c6;
	--white: #fff;
	--dark-red: #a31515;
	--title-font: 'Nanum Gothic';
	--code-font: monospace;
}

body {
	font-family: 'Barlow', sans-serif;
	margin: 0px;
	padding: 0px;
}

pre code {
	white-space: pre-wrap;
	font-size: 120%;
	
}
